@import url('https://fonts.googleapis.com/css2? família=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Passion+One&family=Sriracha&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
header{
    background-color: black;
    color: azure;  
    font-size: 1.8em; 
    text-align: center;
    padding: 90px;
    font-family: 'Paixão Um', cursiva;;
    
}
section{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: auto;
    width: 100%;
    background-color: aliceblue;
    font-size: 30px;
    font-family: 'Sriracha', cursiva;;
}
.fundo1{
    background-color: aqua;
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
.fundo2{ 
   background-image: url(imagens/background002.jpg);
   background-position: right center;
   background-size: cover;
   background-attachment: fixed;
}
p {
  
   padding-bottom: 2em;
   text-align: center;   
}

.fundo1 > p{
    background-color: rgba(77, 77, 77, 0.774);
    display: inline-block;
   width: 400px;

    margin: auto;
    padding: 5px;
}
.fundo2 > p{
    background-color: rgba(77, 77, 77, 0.774);
    width: 400px;

    margin: auto;
    padding: 5px;}

footer{
    padding: 20px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 40px;
}